/* Top Bar */

.top-bar {
    @extend %fullwidth;
    position: fixed;
    top: 0;
    background: $main-color;
    z-index: 1000;
    transition: all 0.25s ease;
    @media #{$brk-mid-narrow} {
        display: none;
    }
}
    
.slicknav_menu {
    @media #{$brk-mid-narrow} {
        display: block;
    }
}

.sticky-logo {
    @extend %nodisplay;
}

/* Header */

header {
    @extend %content;
    @extend %b-border;
    .title-box {
        @media #{$brk-mid-narrow} {
            width: 100%;
        }
    }
    .main-title {
        text-align: right;
        margin: 0.8em 0 0;
        @media #{$brk-mid} {
            font-size: 2.2em;
            margin: 1em 0 0;
        }
        @media #{$brk-mid-narrow} {
            margin: 0;
            text-align: center;
        }
    }
    .main-subtitle {
        text-align: right;
        font-style: italic;
        font-size: 1.15em;
        font-weight: normal;
        letter-spacing: 0;
        color: $main-subtitle;
        margin: 0.3em 0 0;
        @media #{$brk-mid-narrow} {
            font-size: 1em;
            padding: 0 0 1.25em;
            text-align: center;
        }
    }
    .logo-box {
        @media #{$brk-mid-narrow} {
             width: 100%;
             text-align: center;
        }
    }
    .logo {
        margin: 1.6em 0 0.7em;
    }
}