/* Portfolio Items */

#showcase {
    padding: 0 2% 4%; 
    overflow: hidden;
}

#showcase #intro {
    padding: 0.75em 1.75em 2em;
}

#showcase #intro h2 {
    text-align: center;
    @media #{$brk-mid} {
        font-size: 1.25em;
    }
}

#showcase .featured-row {
    margin: 0 0 0 2%;
    @media #{$brk-tab-narrow} {
        margin: 0 0 0 6%;
    }
    @media #{$brk-mid} {
        margin: 0 2%;
    }
}

#showcase .featured-row .featured-item {
    margin: 0 1%;
    @media #{$brk-tab-narrow} {
        width: 50%;
        margin: 0;
    }
    @media #{$brk-mid-narrow} {
        width: 100%;
        margin: 0 0 10% 13%;
    }
    @media #{$brk-mob} {
        margin: 0 0 10% 5%;
    }
    @media #{$brk-mob-narrow} {
        margin: 0 0 10% 0;
    }
}

#showcase .featured-row .featured-item:last-child {
    margin-right: 0;
}

#showcase .featured-row #feat-three {
    @media #{$brk-tab-narrow} {
        margin: 0 0 0 24%;
    }
}

.ih-item.circle {
    @media #{$brk-tab} {
        width: 215px;
        height: 215px;
    }
    @media #{$brk-tab-narrow} {
        width: 220px;
        height: 220px;
    }
}

.ih-item.circle .img {
    @media #{$brk-tab} {
        width: 215px;
        height: 215px;
    }
    @media #{$brk-tab-narrow} {
        width: 220px;
    }
}

.ih-item.circle.effect1 .spinner {
    @media #{$brk-tab} {
        width: 225px;
        height: 225px;
    }
    @media #{$brk-tab-narrow} {
        width: 230px;
        height: 230px;
    }
}