/* Sticky Top Bar */

.top-bar.past-main {
    border-bottom: 3px $light-accent solid;
    padding: 0.7em 0;
}

.top-bar.past-main nav ul {
    margin: 0.2em 0 0;
}

.top-bar.past-main nav ul li ul li:first-child {
    margin: 0.95em 0 0;
}

.top-bar.past-main .sticky-logo {
    display: inline-block;
    vertical-align:middle;
    height: 3em;
    width: 3em;
}